:root {
  --background-find-gray: #1E1E1E;
  --background-element-gray: #2B2A2A;
  --background-panel-gray: #161616;
  --background-gray: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}

.allSizeElement {
  width: 100%;
}

/* Текст */
h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

/* Flex-позиционирование */
.flex-row-sb-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-left-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col-sb-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-sb-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.flex-col-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-sb-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.flex-gap-50 {
  gap: 50px;
}

.flex-gap-40 {
  gap: 40px;
}

.flex-gap-30 {
  gap: 30px;
}

.flex-gap-20 {
  gap: 20px;
}

.flex-gap-15 {
  gap: 15px;
}

.flex-gap-10 {
  gap: 10px;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Границы */
.border-black-bottom {
  border-bottom: 2px solid black;
}

.border-black-right {
  border-right: 2px solid black;
}

.border-black-left {
  border-left: 2px solid black;
}

/* Контейнеры */
section .container {
  padding-top: 30px;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
}

.background-gray-default {
  background-color: var(--background-gray);
}

.background-gray-search {
  background-color: var(--background-find-gray);
}

/* Кнопки */
.button-image-big {
  background-color: var(--background-element-gray);
  border: 3px solid transparent;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  padding: 7px;
}

.button-image-big img {
  max-height: 30px;
  max-width: 30px;
}

.button-text-usual {
  padding: 5px 15px;
  background-color: var(--background-element-gray);
  border: 3px solid transparent;
  border-radius: 5px;
  white-space: nowrap;
}

/* Выпадающий список */
.dropdown-item {
  width: 100%;
  text-decoration: none;
  padding: 7px;
}

.dropdown-item:hover, .dropdown-item.active {
  background-color: var(--background-element-gray);
}

.dropdown-menu {
  background-color: var(--background-panel-gray);
  border-radius: 5px;
  display: none;
  z-index: 4;
}

.show {
  display: flex;
}

.textInput-search .btn {
  white-space: nowrap;
  background: none;
  border: none;
}

/* Поля ввода */
.textInput-usual {
  background-color: var(--background-element-gray);
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 2px;
}

.textInput-search {
  border: 1px solid #757575;
  border-radius: 20px;
  padding: 8px 15px;
}

.textInput-search-field {
  width: 100%;
  margin: 0 15px;
  background: none;
  border: none;
}

.textInput-search-field:focus {
  outline: none;
}

/* Отдельные элементы */
header {
  background-color: var(--background-panel-gray);
  padding: 10px 0;
}

.logo img {
  height: 39px;
}

.active, .button-image-big:hover, .white-border-when-active .dropdown-toggle[aria-expanded="true"] {
  border: 3px solid white;
}

.signInUpContainer {
  width: 400px;
  padding: 62px 40px;
  background-color: var(--background-panel-gray);
  border-radius: 30px;
}

.size-image-small {
  max-width: 24px;
  max-height: 24px;
}

.publicMapCard {
  padding: 15px 0;
}

.personalMapCard {
  padding-bottom: 15px;
}

.mapCardContent {
  width: 100%;
  padding: 0 20px;
}

.textInput-search {
  width: 100%;
}

.userSettingsContainer {
  height: calc(100vh - 72px);
}

.userSettingsContent {
  width: 530px;
}

/* Временные заглушки */
.mapCardPlaceholder {
  width: 350px;
  height: 215px;
  background-color: #FFCD9F;
}