:root {
  --background-find-gray: #1E1E1E;
  --background-element-gray: #2B2A2A;
  --background-panel-black: #161616;
  --background-gray: #252525;
  --background-beige: #FFCD9F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  /* Кастомизация полосы прокрутки дял Firefox */
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

/* Полосы прокрутки */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-gray);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-element-gray);
}

/* Размеры */
.size-full-horizontal-percent {
  width: 100%;
}

.size-full-vertical-pagePercent-withHeader {
  height: calc(100vh - 72px);
}

.size-full-vertical-pagePercent {
  height: 100vh;
}

.size-image-small {
  max-width: 24px;
  max-height: 24px;
}

/* Текст */
h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

/* Flex-позиционирование */
.flex-row-sb-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-row-left-c {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-row-c-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col-sb-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-sb-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.flex-col-sb-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}

.flex-col-top-c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-top-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-col-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-gap-50 {
  gap: 50px;
}

.flex-gap-40 {
  gap: 40px;
}

.flex-gap-30 {
  gap: 30px;
}

.flex-gap-25 {
  gap: 25px;
}

.flex-gap-20 {
  gap: 20px;
}

.flex-gap-15 {
  gap: 15px;
}

.flex-gap-10 {
  gap: 10px;
}

.flex-gap-5 {
  gap: 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Границы */
.border-black-bottom {
  border-bottom: 2px solid black;
}

.border-black-right {
  border-right: 2px solid black;
}

.border-black-left {
  border-left: 2px solid black;
}

/* Контейнеры */
section .container {
  padding-top: 30px;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
}

/* Цвета фона */
.background-gray-default {
  background-color: var(--background-gray);
}

.background-gray-search {
  background-color: var(--background-find-gray);
}

.background-black {
  background-color: var(--background-panel-black);
}

.background-beige {
  background-color: var(--background-beige);
}

/* Кнопки */
button {
  cursor: pointer;
}

.button-image-big {
  background-color: var(--background-element-gray);
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image-big img {
  max-height: 30px;
  max-width: 30px;
}

.button-image-medium {
  background-color: var(--background-element-gray);
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image-medium img {
  max-height: 24px;
  max-width: 24px;
}

.button-image-long {
  background-color: var(--background-element-gray);
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image-long img {
  max-height: 22px;
  max-width: 30px;
}

.button-image-closePanel {
  background-color: var(--background-element-gray);
  border: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image-closePanel img {
  max-height: 15px;
  max-width: 15px;
}

.button-image-placeSwitcher {
  background-color: var(--background-element-gray);
  border: 1px solid transparent;
  width: 20px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image-placeSwitcher img {
  max-height: 10px;
  max-width: 12px;
}

.button-text-usual {
  padding: 5px 15px;
  background-color: var(--background-element-gray);
  border: 3px solid transparent;
  border-radius: 5px;
  white-space: nowrap;
}

/* Выпадающий список */
.dropdown-item {
  width: 100%;
  text-decoration: none;
  padding: 7px;
}

.dropdown-item:hover, .dropdown-item.active {
  background-color: var(--background-element-gray);
}

.dropdown-menu {
  background-color: var(--background-panel-black);
  border-radius: 5px;
  display: none;
  z-index: 4;
}

.show {
  display: flex;
}

.textInput-search .btn {
  white-space: nowrap;
  background: none;
  border: none;
}

/* Обводки активных элементов */
.button-image-placeSwitcher:hover, .button-image-closePanel:hover, .button-image-long:hover {
  border: 1px solid white;
}

.active, .button-image-big:hover, .button-image-medium:hover, .button-text-usual:hover, .white-border-when-active .dropdown-toggle[aria-expanded="true"] {
  border: 3px solid white;
}

/* Поля для ввода числа */
input[type="number"] {
  width: 40px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--background-element-gray);
  border: 1px solid white;
  text-align: center;
  font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-ms-clear {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Ползунки */
input[type="range"] {
	width: 190px;
	color: var(--background-beige);
	cursor: pointer;
	--thumb-height: 16px;
	--track-height: 5px;
	--track-color: var(--background-element-gray);
	--clip-edges: 0.125rem;
	position: relative;
	background: none;
	overflow: hidden;
}

input[type="range"]:active {
	cursor: grabbing;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-thumb {
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;
	width: var(--thumb-width, var(--thumb-height));
	background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
	background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: 50%;
	clip-path: polygon(100% -1px, var(--clip-edges) -1px, 0 var(--clip-top), -100vmax var(--clip-top), -100vmax var(--clip-bottom), 0 var(--clip-bottom), var(--clip-edges) 100%, var(--clip-further) var(--clip-further));
}

input[type="range"]::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
}

/* Поля ввода */
.textInput-usual {
  background-color: var(--background-element-gray);
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 2px;
}

.textInput-search {
  border: 1px solid #757575;
  border-radius: 20px;
  padding: 8px 15px;
}

.textInput-search-field {
  width: 100%;
  margin: 0 15px;
  background: none;
  border: none;
}

.textInput-search-field:focus {
  outline: none;
}

.textInput-search {
  width: 100%;
}

/* Повороты элементов */
.rotate-left {
  transform: rotate(-90deg);
}

.rotate-down {
  transform: rotate(180deg);
}

.rotate-right {
  transform: rotate(90deg);
}

/* Отдельные элементы */
header {
  padding: 10px;
}

.logo img {
  height: 39px;
}

.signInUpContainer {
  width: 400px;
  padding: 62px 40px;
  background-color: var(--background-panel-black);
  border-radius: 30px;
}

.publicMapCard {
  padding: 15px 0;
}

.personalMapCard {
  padding-bottom: 15px;
}

.mapCardContent {
  width: 100%;
  padding: 0 20px;
}

.userSettingsContent {
  width: 530px;
}

.tagBox {
  background-color: var(--background-element-gray);
  padding: 5px 8px;
}

.canvasPanel {
  padding: 20px 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.objectCard-canvas {
  width: 280px;
}

.recentlyUsedContainer {
  max-width: 270px;
}

/* Временные заглушки */
.mapCardPlaceholder {
  width: 350px;
  height: 215px;
  background-color: var(--background-beige);
}

.mapCardBigPlaceholder {
  width: 1116px;
  height: 580px;
  background-color: var(--background-beige);
}

.colorPlaceholder {
  width: 262px;
  height: 84px;
  background-color: var(--background-beige);
}

.fontColorPlaceholder {
  width: 49px;
  height: 19px;
  background-color: white;
}

.recentColorPlaceholder {
  width: 63px;
  height: 35px;
  background-color: var(--background-beige);
}

.smallObjectPlaceholder {
  width: 32px;
  height: 32px;
  background-color: var(--background-beige);
}