:root {
  --background-find-gray: #1E1E1E;
  --background-element-gray: #2B2A2A;
  --background-panel-gray: #161616;
  --background-gray: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Flex-позиционирование */
.flex-row-sb-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-col-sb-c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex-col-sb-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-col-sb-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/* Границы */
.border-black-bottom {
  border-bottom: 2px solid black;
}

.border-black-right {
  border-right: 2px solid black;
}

.border-black-left {
  border-left: 2px solid black;
}

/* Контейнеры */
section {
  padding: 20px 0;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
}